<div class="masthead container">
    <h1 class="text-muted">Warlords Battles</h1>
    <nav>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/"  routerLinkActive="active"><i class="home-icon"></i><span>Home</span></a></li>
                    <li><a routerLink="/players" routerLinkActive="active"><i class="player-icon"></i><span>Players</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </nav>
</div>
<div class="main-content">
    <div class="router-content container">
        <router-outlet></router-outlet>
    </div>
</div>

