@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|IM+Fell+English+SC');

body[ng-app=app-root] {
    background: #a79381  url("/assets/background.jpg") no-repeat top center;
    color: #0a0907;
    a{
        color: #3d302b;
    }
    h1,h2,h3,h4{
        font-family: 'IM Fell English SC', serif;
    }
    div.main-layout{

        margin-top: 60px;

        div.masthead{
            h1{
                text-align: center;
                color:rgb(169, 130, 58);
                font-size: 55px;
                margin-bottom:40px;
                text-shadow:  2px 2px 4px #000000,-1px 0px 0px #f7cd82;
            }
        }
        nav.navbar-default{
            background: #3f322b;
            border: 1px solid #5f4d37;
            -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
            box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
            .navbar-brand{
                color: #998662;
            }
            .navbar-nav{
                >li{
                    >a{
                        color: #caad76;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: 'IM Fell English', serif;
                    }
                }

            }
        }
        .main-content{
            h2{
                font-size: 40px;
                color: #bb8e4a;
                text-shadow: -1px 3px 3px #352504;
            }
        }
        footer.footer{
            margin-top: 30px;
        }
    }

}